<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"


       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd


       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="payment" class="org.child2.CardPayment"/>-->
<!--    <bean id="upipay" class="org.child2.UpiPayment" />-->
<!--    <bean id="appcontroller" class="org.child2.AppController" autowire="byName">-->

<!--    </bean>-->
    <context:annotation-config/>
    <!-- base package org.child2 -->
    <context:component-scan base-package="org.child2"/>


</beans>
